/* MotW Sheet changes */

@font-face {
  font-family: "3rdMan";
  src: url("./fonts/3rdMan.ttf") format("truetype");
}

.pbta.sheet:is(.actor, .item) section.window-content {
  background-color: #e6e6e6;
  color: black;
  background-image: url("./img/paper_bgimg.jfif");
  background-repeat: repeat;
}

.pbta.sheet .sheet-attributes .cell--stats .stat, .pbta.sheet .tabs .item {
  background: #333333;
  border-color: #333333;
}

.pbta.sheet .sheet-attributes .cell--stats .stat :is(.cell__title, .stat-icon), .pbta.sheet .tabs .item {
  text-shadow: 0 0 5px #063c4f;
}

.pbta.sheet .sheet-attributes .cell--stats .stat:hover :is(.cell__title, .stat-icon) {
  text-shadow: 0 0 5px #04303f;
}

.pbta.sheet .tabs .item:hover {
  text-shadow: 0 0 5px #04303f;
}

.pbta.sheet :is(.sheet-attributes .cell--stats .stat, .tabs .item, .cell__title button):hover {
  background: #c15c6c;
  color: white;
}

.pbta.sheet :is(.cell__title, .tabs, input)  {
  color: black;
  border-color: black;
}

.pbta.sheet .tabs .item:is(:hover, :focus) {
  border-color: white;
  border-bottom-color: black;
}

.pbta.sheet .cell__title button:hover {
  border-color: white;
}

.pbta.sheet .tabs .item.active {
  background: white;
  color: black;
  border-bottom: 2px solid black;
}

::-webkit-scrollbar-thumb {
  background: #8e2231;
  border: 1px solid #257f9d;
}

.pbta.sheet :is(.cell--attributes-top .cell__title) {
  font: 2.1rem '3rdMan';
  justify-content: center;
  padding: 5px 0;
}

.pbta.sheet .cell--attributes-left .cell__title {
  font: 1.9rem '3rdMan';
}

.pbta.sheet .sheet-attributes .cell--stats .stat .cell__title  {
  font: 2.4rem '3rdMan';
  height: 40px;
}

.pbta.sheet .sheet-attributes .cell--stats .stats-list {
  margin: 8px 0 0;
}

.pbta.sheet .tabs a.item {
  align-self: center;
  font: 2.1rem '3rdMan';
  height: 45px;
  margin: 0 10px 6px;
  padding: 0 0 1px;
}

.pbta.sheet.npc .tabs a.item {
  align-self: center;
  font: 2.1rem '3rdMan';
  height: 45px;
  margin: 0 10px 6px;
  padding: 0 0 1px;
}

@keyframes swing
{
    15%
    {
        transform: translateX(3px);
    }
    30%
    {
        transform: translateX(-3px);
    }
    50%
    {
        transform: translateX(1.5px);
    }
    65%
    {
        transform: translateX(-1.5px);
    }
    80%
    {
        transform: translateX(1px);
    }
    100%
    {
        transform: translateX(0);
    }
}

span.attr-icon.attr-rollable.rollable:hover .fa-dice-d6 {
  animation: swing 1s ease infinite alternate;
}


@keyframes rollDice {
  0% {
    transform: translate(0px, 0px);
  }
  4% {
    transform: translate(0, -6px);
  }
  8% {
    transform: translate(3px, -6px);
  }
  12% {
    transform: translate(-3px, -6px);
  }
  16% {
    transform: translate(3px, -6px);
  }
  20% {
    transform: translate(-3px, -6px);
  }
  24% {
    transform: translate(3px, -6px);
  }
  28% {
    transform: translate(-3px, -6px);
  }
  32% {
    transform: translate(3px, -6px);
  }
  33% {
    transform: translate(-18px, 8px);
  }
  35% {
    transform: translate(-12px, 10px);
  }
  37% {
    transform: translate(-18px, 6px);
  }
  39% {
    transform: translate(-16px, 10px);
  }
  60% {
    transform: translate(-16px, 10px);
  }
  80% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

span.stat-icon.stat-rollable.rollable:hover .fa-dice-d6 {
  animation: rollDice 3s linear infinite;
}

.pbta.sheet .cell--image {
  background: rgb(0,0,0,.3);
}

.pbta.sheet :is(.cell--attributes-top, .cell--attributes-left) input:hover {
  box-shadow: 0 0 5px #c73049;
}

.pbta.sheet :is(.cell--attributes-top, .cell--attributes-left) input[type=text]:hover {
  cursor: text;
}

.pbta.sheet :is(.cell--attributes-top, .cell--attributes-left) .cell__checkboxes label:hover {
  cursor: pointer;
}

.pbta.sheet .cell__title button, .pbta.sheet .cell__subtitle button {
  color: #8e2231;
  border: 1px solid #8e2231;
}

.pbta.sheet .sheet-wrapper .editor-content {
  background: rgb(0,0,0,.05);
}

.pbta.sheet .item-controls a.item-control:hover {
  color: white;
  text-shadow: 0 0 5px #04303f;
}

.pbta.sheet .cell--attr-nextlevel label.cell__title {
  font-size: 1.8rem;
}